@model List<ResumeProject.Entities.Message>

@{
    Layout = null;
}

<section class="space-y-4">
    <div class="flex items-center justify-between">
        <h2 class="text-lg font-bold flex items-center">
            <span class="material-symbols-outlined mr-2 text-primary">chat_bubble_outline</span>
            Son Mesajlar
        </h2>
        <a class ="text-xs font-medium text-primary hover:underline" href="/Message/Index">Tümünü Gör</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        @foreach (var item in Model)
        {
            <div class="bg-white dark:bg-surface-dark p-4 rounded-xl border border-slate-200 dark:border-slate-800 hover:border-primary/50 transition-colors cursor-pointer group">
                <div class="flex justify-between items-start mb-2">
                    <div class="flex items-center space-x-3">
                        <div class="w-10 h-10 rounded-full bg-slate-100 dark:bg-slate-800 flex items-center justify-center font-bold text-blue-500"></div>
                        <div>
                            <h4 class="text-sm font-bold">@item.Fullname</h4>
                            <p class="text-[10px] text-slate-500">@item.SendDate</p>
                        </div>
                    </div>
                </div>
                <p class="text-xs text-slate-600 dark:text-slate-400 line-clamp-2">@item.MessageDetail.Substring(0,50) ...</p>
            </div>
        }
        <br /><br />
    </div>
</section>