@model List<ResumeProject.Entities.About>

<section id="about">
	<div class="container">
		<div class="section-title h2 text-center mb-8">
			<h2 class="mb-0">Hakkımda</h2>
			<span class="title-letter">H</span>
		</div>
		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-md-6 col-lg-4 d-none d-lg-block">
					<img class="img-fluid w-100 rounded" src="~/pp.jpg" alt="">
				</div>
				<div class="col-lg-8">
					<h3>@item.Fullname</h3>
					<p class="lead">@item.Title</p>
					<p class="mb-5">@item.Description</p>

					<div class="row mb-8">

						@await Component.InvokeAsync("_DefaultEducationComponentPartial")

						@await Component.InvokeAsync("_DefaultHighlightComponentPartial")

					</div>
					<a href="/Default/Download_CV" class="btn btn-primary">Download CV</a>
					<a href="#contact" class="btn btn-light scrollto">Send Message</a>
				</div>
			}

		</div>
	</div>
</section>